/build/
/build_*/
/cmake-build-*/
/generated/
/CMakeFiles/
/CMakeCache.txt
/CTestTestfile.cmake
/cmake_install.cmake
/Makefile
/compile_commands.json
*.a
*.o
*.obj
*.dylib
*.so
*.dll
*.exe
*.out
.DS_Store
.idea/
__pycache__/
*.pyc
/inspections/
/C-Headers/sedsprintf.h
